{{- $choices := list "home" "work" -}}
{{- $hostType := promptChoiceOnce . "hostType" "Home or work" $choices -}}

{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    hostType = {{ $hostType | quote }}
